
# Ignore node_modules
**/node_modules

# Ignore .git
.git

# Ignore .env files
.env

# Ignore Dockerfiles (they are not needed in the image)
Dockerfile

# Ignore docker-compose.yml
docker-compose.yml

# Ignore .dockerignore
.dockerignore
